<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
      <add name="VehicleAppConnectionString" connectionstring="Data Source=(LocalDb)\v11.0;Initial Catalog=VehicleApp;Integrated Security=True;MultipleActiveResultSets=true" providername="System.Data.SqlClient" />
    </configSections>
</configuration>